/* --- Animation types --- */
.animation_blink {
    animation-name: blink ;
    animation-duration: 1s;
}
.animation_rotate {
    animation-name: rotate ;
    animation-duration: 1s;
}

/* --- Repeats --- */
.animation_infinity {
    animation-iteration-count: infinite;
}
.animation_repeat1 {
    animation-iteration-count: 1;
}
.animation_repeat2 {
    animation-iteration-count: 2;
}
.animation_repeat3 {
    animation-iteration-count: 3;
}
.animation_delayOnRepeat{
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

/* --- Delays --- */
.animation_delay1s {
    animation-delay: 1s;
}
.animation_delay2s {
    animation-delay: 2s;
}
.animation_delay3s {
    animation-delay: 3s;
}
.animation_delay4s {
    animation-delay: 4s;
}
.animation_delay5s {
    animation-delay: 5s;
}

/* --- Speed --- */
.animation_lightspeed {
    animation-duration: .5s;
}
.animation_fast {
    animation-duration: 1s;
}
.animation_normal {
    animation-duration: 1.5s;
}
.animation_slow {
    animation-duration: 3s;
}
.animation_slowmotion {
    animation-duration: 5s;
}
/* --- Animation Keyframes --- */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes movingFromBottomrightTOTopLeft{
    0% {
        background-position: bottom right ;
      }
      100% {
        background-position: top left;
      }
}