/* --- Animation types --- */
.animation_blink {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/* --- Repeats --- */
.animation_infinity {
    animation-iteration-count: infinite;
}

/* --- Delays --- */
.animation_delay1s {
    animation-delay: 1s;
}

/* --- Animation Keyframes --- */
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes movingFromBottomrightTOTopLeft{
    0% {
        background-position: bottom right ;
      }
      100% {
        background-position: top left;
      }
}