/* --- Variables --- */
:root{
    --imgSource:"rawt";
}
/* --- Repeats (REP) --- */
.juflair_rep_inf {
    animation-iteration-count: infinite !important;
}
.juflair_rep_2 {
    animation-iteration-count: 2 !important;
}
.juflair_rep_3 {
    animation-iteration-count: 3 !important;
}

/* --- Delays (DEL) --- */
.juflair_del_0-5s {
    animation-delay: 0.5s;
}
.juflair_del_1s {
    animation-delay: 1s;
}
.juflair_del_1-5s {
    animation-delay: 1.5s;
}
.juflair_del_2s {
    animation-delay: 2s;
}
.juflair_del_2-5s {
    animation-delay: 2.5s;
}
.juflair_del_3s {
    animation-delay: 3s;
}
.juflair_del_3-5s {
    animation-delay: 3.5s;
}
.juflair_del_4s {
    animation-delay: 4s;
}
.juflair_del_4-5s {
    animation-delay: 4s;
}
.juflair_del_5s {
    animation-delay: 5s;
}
.juflair_del_5s {
    animation-delay: 5.5s;
}
/* --- Hover (hover) --- */
.juflair_hover:not(:hover){
    animation-play-state: paused;
    animation: none;
}
.juflair_hover:hover{
    animation-play-state: running;
}
/* --- Speed (SPE) --- */
.juflair_spe_light {
    animation-duration: .2s !important;
}
.juflair_spe_fast {
    animation-duration: 0.5s !important;
}
.juflair_spe_normal {
    animation-duration: 1s !important;
}
.juflair_spe_slow {
    animation-duration: 3s !important;
}
.juflair_spe_slowmotion {
    animation-duration: 5s !important;
}
.juflair_spe_snail {
    animation-duration: 10s !important;
}
/* --- Animation types --- */
.juflair_blink {
    animation-name: blink ;
    animation-duration: 1s;
}
.juflair_rotate {
    animation-name: rotate ;
    animation-duration: 1s;
    
}
.juflair_fadeIn {
    animation-name: fadeIn ;
    animation-duration: 1s;
    
}
.juflair_fadeOut {
    animation-name: fadeOut ;
    animation-duration: 1s;
    
}
.juflair_slideIn {
    animation-name: slideIn ;
    animation-duration: 1s;
    
}
.juflair_slideOut {
    animation-name: slideOut ;
    animation-duration: 1s;
    
}
.juflair_zoomIn {
    animation-name: zoomIn ;
    animation-duration: 1s;
    
}
.juflair_zoomOut {
    animation-name: zoomOut ;
    animation-duration: 1s;
}
.juflair_zoomInOut {
    animation: zoomOut 1s 1s linear 1 alternate, zoomIn 1s linear alternate
}
.juflair_pulse {
    animation-name: pulse ;
    animation-duration: 1s;
    
}
.juflair_bounce {
    animation-name: bounce ;
    animation-duration: 1s;
    
}
.juflair_flip {
    animation-name: flip ;
    animation-duration: 1s;
    
}
.juflair_shake{
    animation-name: shake ;
    animation-duration: 1s;
    
}
.juflair_flying{
    animation-name: flying;
    animation-duration: 1s;
    animation-timing-function: linear;
}
/* Glitch*/
.juflair_glitch {
    position: relative;
    animation: wobble-glitch 0.4s;
}
.juflair_glitch:before,
.juflair_glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateX(0px);
}
.juflair_glitch:before {
    color: aqua;
    animation: blue-glitch 0.4s  linear;
}
.juflair_glitch:after {
    color:red;
    animation: red-glitch 0.4s  linear;
}
/* Typing */
.juflair_typing {
    color:#0000;
    background:
      linear-gradient(-90deg,var(--typeColor) 5px,#0000 0) 10px 0,
      linear-gradient(var(--typeColor) 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation: 
     blink-caret .7s infinite steps(1),   
     typing calc(var(--n)*.15s) steps(var(--n)) forwards;
}
/* --- Coloring for Typing --- */
.juflair_typing.white{
    background:
      linear-gradient(-90deg,white 5px,#0000 0) 10px 0,
      linear-gradient(white 0 0) 0 0;
}

/* .Delayed*/
.juflair_blink1_Delayed{
    animation-name: delay-blink ;
    animation-duration: 1s;
    
}
.juflair_blink2_Delayed{
    animation-name: delay-blink2 ;
    animation-duration: 1s
}


/* --- Animation Keyframes --- */
/* Fade */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
/* Blink */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes delay-blink {
    40%{ opacity: 1; }
    50% { opacity: 0; }
    60% { opacity: 1; }
}
@keyframes delay-blink2 {
    40%{ opacity: 1; }
    
    50% { opacity: 0; }
    60% { opacity: 1; }
    
    70% { opacity: 0; }
    80%{ opacity: 1; }
}
/* Slide */
@keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}
@keyframes slideOut {
    from { transform: translateX(0); }
    to { transform: translateX(100%); }
}
/* Rotate */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* Moving */
@keyframes movingFromBottomrightTOTopLeft{
    0% {
        background-position: bottom right ;
    }
    100% {
        background-position: top left;
    }
}
/* Scale */
@keyframes zoomIn {
    from { transform: scale(0); }
    to { transform: scale(1); }
}
@keyframes zoomOut {
    from { transform: scale(1); }
    to { transform: scale(0); }
}
@keyframes pulse {
    0%{ transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
/* bounce */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-30px); }
    60% { transform: translateY(-15px); }
}
/* flip */
@keyframes flip {
    from { transform: perspective(400px) rotateY(0); }
    to { transform: perspective(400px) rotateY(360deg); }
}
/* shake */
@keyframes shake {
    from, to { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px); }
}
/* flying */
@keyframes flying {
    from, to { transform: translateY(-3px); }
    50% {
        transform: translateY(3px);
    }
}
/* wobble */
@keyframes wobble-left {
    18% {
        transform: skewX(0);
    }
    20%,22% {
        transform: skewX(30deg);
    }
    23%,68% {
        transform: skewX(0);
    }
}
/* glitch*/
@keyframes wobble-glitch {
    18% {
        transform: skewX(0);
    }
    20%,22% {
        transform: skewX(-30deg);
    }
    23%,68% {
        transform: skewX(0);
    }
    70%,73% {
        transform: skewX(-30deg);
    }
    74% {
        transform: skewX(0);
    }
}
@keyframes blue-glitch {
    18% {
        transform: translateX(0px);
    }
    20%,22% {
        transform: translateX(-12px);
    }
    23%,68% {
        transform: translateX(0px);
    }
    70%,73% {
        transform: translateX(-10px);
    }
    74% {
        transform: translateX(0px);
    }
}
@keyframes red-glitch {
    18% {
        transform: translateX(0px);
    }
    20%,22% {
        transform: translateX(20px);
    }
    23%,68% {
        transform: translateX(0px);
    }
    70%,74% {
        transform: translateX(18px);
    }
    75% {
        transform: translateX(0px);
    }
    100%{
        color:transparent
    }
}
/*Typing */
@keyframes typing {
    from {background-size:0 200%}
}
@keyframes blink-caret {
    50% {background-position:0 -100%,0 0}
}